@import url(http://fonts.googleapis.com/css?family=Kameron:400,700);

body, html {
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: 'Kameron', Serif; 
}

header {
	background-color: #fff;
	box-shadow: 5px;
}

.wrapper{
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	height: auto; 
	width: 100%; 
}

.header {
	color: #1e1e1e;
	width: 100%;
	height: 60px;
	padding: 5px;
	margin: 0 auto;
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: space-between;

	-webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.54); /*Box shadow*/ 
	-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.54);
	box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.54); 
	box-sizing: border-box;
}

.uppercase{
	text-transform: uppercase;
}

.publisher {
	color: #aeaeae;
}

.category{
	color: #1e1e1e;
}

.left{
	display: flex; 
}

.center{
	display: flex; 
	flex-direction: column; 
	justify-content: center;
}

.right{
	display: flex;  
	margin: 10px 10px 30px 10px;
}

.search{
	width: auto; 
	height: 20px; 
	border-radius: 100px;
	padding: 5px;  
	background-color: #fff; 
	border: 1px solid #000; 
	margin-left: 10px;
}

.rounded{
	border-radius: 30px; 
} 


/* text styling */ 
article{
	margin: 0 auto; 
	width: 900px;
	text-align: justify; 
}

.author{
	color: #1e1e1e;
	text-align: center;
	font-size: 18px; 
}

.center {
	text-align: center;
}

p {
	font-size: 18px; 
}

h1 {
	font-size: 48px;
	margin: 0px 0px 0px 0px;
}

.note {
	border-left: 3px solid black; 
	padding: 0px 0px 0px 10px; 
	margin: 0; 
	font-family: Serif;
	font-size: 22px; 
	font-style: italic;

}

a:link .logo{
	color: #1e1e1e;
	text-decoration: none; 
}

.no-underline {
	text-decoration: none; 
}

.logo {
	font-family: 'Kameron'; 
	font-weight: 800; 
	font-size: 38px;
	color: #1e1e1e;
	margin: 0px 30px 0px 15px; 
	text-decoration: none;
}

/* img styling */ 
.featured {
	width: 100%;  
	height: auto;  
	margin: 0 auto; 
	padding: 0; 
	display: block; 
}


/* button styling */
.round-button {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
    border-radius: 50%;
    border: 1px solid #393939;
    overflow: hidden;
    background: #fff;

}
.round-button:hover {
    background: #262626;
}
.round-button img {
    display: block;
    width: 76%;
    padding: 12%;
    height: auto;
}

.round {
	border-radius: 200px; 
}

.button-border, .button-border-thin, .button-border-thick {
  background: none;
  border-width: 2px;
  border-style: solid;
  line-height: 36px; }
  .button-border:hover, .button-border-thin:hover, .button-border-thick:hover {
    background-color: rgba(255, 255, 255, 0.9); }
  .button-border:active, .button-border-thin:active, .button-border-thick:active, .button-border.active, .active.button-border-thin, .active.button-border-thick, .button-border.is-active, .is-active.button-border-thin, .is-active.button-border-thick {
    -webkit-box-shadow: none;
            box-shadow: none;
    text-shadow: none;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: .3s;
            transition-duration: .3s; 
}

/*code snippets */ 
.code {
	padding: 30px; 
	background-color: #eee; 
	font-family: monospace; 
	color: #1e1e1e; 
	line-height: 1.8em; 
	font-size: 20px; 
	word-wrap: normal; 
}

footer {
	width: 900px; 
	height: auto; 
	margin: 0 auto; 
	display: flex; 
	flex-direction: space-between;
}

.follow {
	width: 425px; 
	height: auto; 
	display: flex; 
	flex-direction: space-between;
	background-color: #ffffff;
}

.display {
	width: 120px; 
	height: auto; 
	background-color: #1e1e1e; 
}

.button-follow {
	border-color: green; 
	color: green; 
	border-radius: 50px; 
	width: auto; 
}